{% extends 'miguelHogarSyte/Base.html' %}

{% block content %}

<h1>Electrodomesticos</h1>

{%for producto in productos %}

<div class="img">
  <a target="_blank" href="http://www.rodo.com.ar/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/h/e/heladera_midea_2_1.jpg">
    <img  src="../../static/img/{{ producto.nombre }}.jpg" alt="{{producto.nombre}}" >
  </a>
  <div class="desc">
  {{producto.nombre}}<br>
  Precio: {{producto.precio}}
  </div>
</div>

{%endfor%}

{% endblock content %}